# Project specific
._*
*~
*.log
.env
.gcp/
tmp/
TMP/
logs/
work/
results/
archive/
star_ref/
ignore/
.nextflow/
.nextflow*
screenlog.*
figures/
submitit/
data/SRAgent_profiling/
data/diseases/
data/chris_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution / packaging
.Python

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
